<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard Paciente</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h2>Bienvenido Paciente, <span th:text="${#authentication.name}">Usuario</span>!</h2>
    <p>Este es tu panel de control.</p>

    <h3>Cargar Nueva Imagen de Lesión</h3>
    <div th:if="${param.successMessage}" class="success-message">
        <p th:text="${param.successMessage[0]}"></p>
    </div>
    <div th:if="${param.errorMessage}" class="error-message">
        <p th:text="${param.errorMessage[0]}"></p>
    </div>
    <form method="POST" th:action="@{/imagenes/upload}" enctype="multipart/form-data">
        <div>
            <label for="file">Seleccionar imagen:</label>
            <input type="file" id="file" name="file" accept="image/png, image/jpeg, image/jpg" required />
        </div>
        <div>
            <button type="submit">Cargar Imagen</button>
        </div>
    </form>
    <hr/>
    <p><a th:href="@{/imagenes/historial}">Ver mi historial de imágenes</a></p>

    <form th:action="@{/logout}" method="post" style="margin-top: 20px;">
        <button type="submit">Cerrar Sesión</button>
    </form>
</div>
</body>
</html>